<template>
    <div>
        Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from
        <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> Icons made by
        <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from
        <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> Icons made by
        <a href="https://www.flaticon.com/authors/eucalyp" title="Eucalyp">Eucalyp</a> from
        <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
        <a
            href="https://pixabay.com/photos/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=690104"
            >Free-Photos</a
        >
        from
        <a
            href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=690104"
            >Pixabay</a
        >
        Image by
        <a
            href="https://pixabay.com/photos/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=918596"
            >Free-Photos</a
        >
        from
        <a
            href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=918596"
            >Pixabay</a
        >
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component({
    name: 'Imprint',
})
export default class Imprint extends Vue {
}
</script>

<style lang="scss"></style>
